<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
</head>
<body>

<h2>All Bookings</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Date</th>
        <th>Time</th>
    </tr>

    {% for booking in bookings %}
<!--    #upgrade the code -->
    <tr>
        <td>{{ booking[0] }}</td>
        <td>{{ booking[1] }}</td>
        <td>{{ booking[2] }}</td>
        <td>{{ booking[3] }}</td>
        <td>{{ booking[4] }}</td>
    </tr>
    {% endfor %}

</table>

<br>
<a href="/">Back to home</a>

</body>
</html>
