<!DOCTYPE html>
<html>
<head>
    <title>Book Session</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>TimeSyncer – Session Booking</h1>

    <form action="/book" method="POST">
        <input type="text" name="name" placeholder="Your name" required>
        <input type="email" name="email" placeholder="Your email" required>
        <input type="date" name="date" required>
        <input type="time" name="time" required>

        <button type="submit">Book Session</button>
    </form>
    <hr style="margin:20px 0">

    <!-- ADMIN LINK -->
    <a href="/admin">
        <button type="button">View All Bookings</button>
    </a>
</div>

</body>
</html>
